*.o
*.exe
*.out
*.swp
/artifacts/*
!artifacts/placeholder
/experiments/artifacts/*
!experiments/artifacts/placeholder
/experiments/chibicc/artifacts/*
!experiments/chibicc/artifacts/placeholder
/experiments/m2min_v2/artifacts/*
!experiments/m2min_v2/artifacts/placeholder
